################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B2CMultiTenant.txt
/B2CMultiTenant/Settings.txt
/B2CMultiTenant/obj
/B2CMultiTenant/bin
/packages
