@{
    ViewBag.Title = "Sign Out";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">You have successfully from this application. To ensure you are signed out from other applications please close the browser.</p>
<p>@Html.ActionLink("Home","Index","Home")</p>
